{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

{% block title %}
    Ajouter un Avis
{% endblock %}

{% block main %}
<style>
   /* From Uiverse.io by tranquoclong */
   .inputGroup {
     font-family: 'Segoe UI', sans-serif;
     margin: 1em 0;
     position: relative;
     width: 100%;
     max-width: 800px;
   }
   
   .inputGroup input, .inputGroup textarea, .inputGroup select {
     font-size: 100%;
     padding: 1.5em 1em 0.5em 1em;
     outline: none;
     border: 2px solid rgb(200, 200, 200);
     background-color: transparent;
     border-radius: 20px;
     width: 100%;
     box-sizing: border-box;
     position: relative;
     z-index: 1;
     margin-bottom: 20px;
   }
   
   .inputGroup label {
     font-size: 90%;
     position: absolute;
     left: 15px;
     top: -0.5em;
     padding: 0 10px;
     background-color: white;
     color: rgb(100, 100, 100);
     pointer-events: none;
     transition: all 0.3s ease;
     z-index: 2;
   }
   
   .inputGroup input:focus~label,
   .inputGroup input:not(:placeholder-shown)~label {
     top: -1.4em;
     color: rgb(150, 150, 200);
     font-size: 85%;
   }
   
   .inputGroup input:focus {
     border-color: rgb(150, 150, 200);
   }
   
   input::placeholder {
     color: transparent;
   }
   .heading {
     font-size: 2.5em;
     color: #2e2e2e;
     font-weight: 700;
     margin: 15px 0 30px 0;
   }
</style>

<div class="container-fluid">
   <form method="post" class="card p-3 mt-5 border border-primary" enctype="multipart/form-data">
       <h1 class="heading">Ajouter un Avis</h1>
       {% csrf_token %}
       
       <div class="row">
           <div class="col-md-6">
               <div class="inputGroup">
                   <input type="text" id="num_publi" name="num_publi" placeholder=" " required>
                   <label for="num_publi">Numéro de publication</label>
               </div>
               <div class="inputGroup">
                   <input type="date" id="date_lancement_pulication" name="date_lancement_pulication" placeholder=" " required>
                   <label for="date_lancement_pulication">Date de lancement de la publication</label>
               </div>
               
           </div>

           <div class="col-md-6">
            <div class="inputGroup">
              <input type="date" id="date_publi" name="date_publi" placeholder=" " required>
              <label for="date_publi">Date de publication DGCMEF</label>
          </div>
          <div class="inputGroup">
            <label for="fichier" class="custom-file-upload">
                <i class="fas fa-upload"></i> Avis de publication
            </label>
            <input type="file" id="fichier" name="fichier">
        </div>
        
           </div>
       </div>

       <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary">
            Ajouter <i class="fas fa-plus"></i>
        </button>
        <a href="{% url 'process_dossier' dossier.id %}" class="btn btn-warning ml-2" title="Annuler">
            Annuler <i class="fas fa-times"></i>
        </a>
    </div>
   </form>
</div>

{% endblock %}
