<table id="example" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="font-size: 14px; padding: 8px;">Numéro de publication</th>
            <th style="font-size: 14px; padding: 8px;">Date de lancement de publication</th>
            <th style="font-size: 14px; padding: 8px;">Date de publication DGCMEF</th>
            <th style="font-size: 14px; padding: 8px;">Fichier</th>
            <th style="font-size: 14px; padding: 8px;">Dossier</th>
            <th style="text-align: center; width: 100px;">
                <a class="nav-link" href="{% url 'addavis' dossier.id %}">
                    <i class="fas fa-plus-circle" style="color: #007bff;"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in avis %}
        <tr>
            <td>{{ item.num_publi }}</td>
            <td>{{ item.date_lancement_pulication }}</td>
            <td>{{ item.date_publi }}</td>
            {% if item.fichier %}
            <td class="text-center"><a href="{{ item.fichier.url }}"><i class="fas fa-file-pdf" style="color: #dc3545;"></i></a></td>
            {% else %}
            <td class="text-center text-danger">Pas de fichier</td>
            {% endif %}
            <td>{{ item.dossier_id }}</td>
            <td style="text-align: center;">
                <a href="{% url 'editavis' item.id %}">
                    <i class="fas fa-pencil-alt" style="color: #ffc107;"></i>
                </a>
                &nbsp;
                <a title="Supprimer" href="{% url 'deleteavis' item.id %}">
                    <i class="fas fa-trash-alt" style="color: #dc3545;"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
