<table id="example" class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th style="font-size: 14px; padding: 8px;">Numéro de marché</th>
            <th style="font-size: 14px; padding: 8px;">Date de notification</th>
            <th style="font-size: 14px; padding: 8px;">Attributaire</th>
            <th style="font-size: 14px; padding: 8px;">Date de signature</th>
            <th style="font-size: 14px; padding: 8px;">Montant</th>
            <th style="font-size: 14px; padding: 8px;">Lots associés</th>
            <th style="text-align: center; width: 100px;">
                <a class="nav-link" href="{% url 'addmarche' dossier.id %}">
                    <i class="fas fa-plus-circle" style="color: #007bff;"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for item in marches %}
        <tr>
            <td>{{ item.num_ref }}</td>
            <td>{{ item.date_notif|date:"d/m/Y" }}</td>
            <td>{{ item.attributaire.nom_four }}</td>
            <td>{{ item.date_retour_sign|date:"d/m/Y" }}</td>
            <td>{{ item.montant }}</td>
            <td>
                {% if item.offre.lot %}
                    {{ item.offre.lot.num_lot }}
                {% else %}
                    Aucun lot sélectionné
                {% endif %}
            </td>
            <td style="text-align: center;">
                <a href="{% url 'modifier_marche' dossier.id item.id %}">
                    <i class="fas fa-pencil-alt" style="color: #ffc107;"></i>
                </a>
                &nbsp;
                <a href="{% url 'supprimer_marche' dossier.id item.id %}">
                    <i class="fas fa-trash-alt" style="color: #dc3545;"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
