<!-- offre.html -->
<div class="container">

    <table id="example" class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Intitulé Dossier</th>
                <th>Date de Réception</th>
                <th>Entreprise</th>
                <th>Offre Technique</th>
                <th>Lots</th>
                <th style="text-align: center; width: 100px;">
                    <span class="d-inline">Actions</span>
                    <a href="{% url 'addoffre' dossier.id %}" class="nav-link d-inline">
                        <i class="fas fa-plus-circle" style="color: #007bff;"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for offre in offres %}
            <tr>
                <td>{{ offre.dossier }}</td>
                <td>{{ offre.date_prevu_reception|date:"d/m/Y" }}</td>
                <td>{{ offre.entreprise }}</td>
                <td class="text-center">
                    {% if offre.offre_technique %}
                    <a href="{{ offre.offre_technique.url }}" target="_blank">
                        <i class="fas fa-file-pdf" style="color: #dc3545;"></i>
                    </a>
                    {% else %}
                    <span class="text-muted">Aucun fichier</span>
                    {% endif %}
                </td>
                <td>
                    {% if offre.lot %}
                        {{ offre.lot.num_lot }}
                    {% else %}
                        <span class="text-muted">Aucun lot</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <a href="{% url 'modifier_offres' dossier.id offre.id %}" class="btn btn-sm btn-warning">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{% url 'supprimer_offres' dossier.id offre.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette offre ?');">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
