{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    PPM
{% endblock %}

{% block btn %}
<a class="nav-link" href="{% url 'addplanitems' %}"><i class="fas fa-plus-circle text-primary"></i></a>
<a class="nav-link" href=""><i class="fas fa-upload text-primary"></i></a>
{% endblock btn %}

{% block main %}

<div class="container-fluid mt-4">
    <div class="table-responsive">
        <table id="example" class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th style="font-size: 14px; padding: 8px;">Num Ordre</th>
                    <th style="font-size: 14px; padding: 8px;">Année de planification</th>
                    <th style="font-size: 14px; padding: 8px;">Budget</th>
                    <th style="font-size: 14px; padding: 8px;">Direction Charge Dossier</th>
                    <th style="font-size: 14px; padding: 8px;">Unité Service Bénéficiaire</th>
                    <th style="font-size: 14px; padding: 8px;">Montant Inscription Budgétaire</th>
                    <th style="font-size: 14px; padding: 8px;">Montant Dépenses Engagées Non Liquidées</th>
                    <th style="font-size: 14px; padding: 8px;">Disponible</th>
                    <th style="font-size: 14px; padding: 8px;">Éléments Composantes</th>
                    <th style="font-size: 14px; padding: 8px;">Type Prestation</th>
                    <th style="font-size: 14px; padding: 8px;">Nature Prestations</th>
                    <th style="font-size: 14px; padding: 8px;">Mode Passation</th>
                    <th style="font-size: 14px; padding: 8px;">Agent Charge Dossier</th>
                    <th style="font-size: 14px; padding: 8px;">Service Charge Dossier Technique</th>
                    <th style="font-size: 14px; padding: 8px;">Réf. Dossier Appel Concurrence</th>
                    <th style="font-size: 14px; padding: 8px;">Intitulé Dossier</th>
                    <th style="font-size: 14px; padding: 8px;">Date Prévue Lancement DGCMEF</th>
                    <th style="font-size: 14px; padding: 8px;">Date Réelle Lancement DGCMEF</th>
                    <th style="font-size: 14px; padding: 8px;">Référence Publication</th>
                    <th style="font-size: 14px; padding: 8px;">Publication DGCMEF</th>
                    <th style="font-size: 14px; padding: 8px;">Nom Attributaire Provisoire</th>
                    <th style="font-size: 14px; padding: 8px;">Contentieux Litiges</th>
                    <th style="font-size: 14px; padding: 8px;">Montant</th>
                    <th style="font-size: 14px; padding: 8px;">Numéro Marché</th>
                    <th style="font-size: 14px; padding: 8px;">Date Notification Projet Contrat</th>
                    <th style="font-size: 14px; padding: 8px;">Date de signature du Contrat</th>
                    <th style="font-size: 14px; padding: 8px;">Observation</th>
                </tr>
            </thead>
            <tbody>
                {% for data in planitems_data %}
                <tr>
                    <td>{{ data.item.num_ordre }}</td>
                    <td>{{ data.item.annee }}</td>
                    <td>{{ data.item.budget }}</td>
                    <td>{{ data.item.direction_charge_dossier }}</td>
                    <td>{{ data.item.direction_charge_dossier }}</td>
                    <td>{{ data.item.montant_inscription_budgetaire }}</td>
                    <td>{{ data.item.montant_depenses_engagees_non_liquidees }}</td>
                    <td>{{ data.item.disponible }}</td>
                    <td>{{ data.item.elements_composantes }}</td>
                    <td>{{ data.item.type_prestation }}</td>
                    <td>{{ data.item.nature_prestations }}</td>
                    <td>{{ data.item.mode_passation }}</td>
                    <td>{{ data.item.agent_charge_dossier }}</td>
                    <td>{{ data.item.service_charge_dossier_technique }}</td>
                    <td>{{ data.dossier_info.ref_dossier|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.intitule_dossier|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.date_publi|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.date_lancement_publication|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.ref_pub|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.ref_pub|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.nom_attributaire|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.contagieux_litige|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.montant|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.numero_marche|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.date_notif_projet_contrat|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.date_sign_contrat|default:'N/A' }}</td>
                    <td>{{ data.dossier_info.observations|default:'N/A' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}
